.Rproj.user
.Rhistory
.RData
.Ruserdata

*.csv#

*.xls#

ClassPrep/old_stuff/

*.xlsx#

SimulateRegression/.idea/

04 IntroLinearModel/Fsimulation/.idea/

04 IntroLinearModel/Fsimulation/__pycache__/
